apiVersion: v1
kind: PersistentVolume
metadata:
  name: vaultwarden-data-pv
  namespace: production
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/k3s-volumes/vaultwarden/vw-data"
