services:
  caddy-gateway:
    image: caddybuilds/caddy-cloudflare:latest
    container_name: caddy-gateway
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
    extra_hosts:
      - "host.docker.internal:192.168.0.44"

volumes:
  caddy-data:
  caddy-config:
