apiVersion: apps/v1
kind: Deployment
metadata:
  name: planning-poker-frontend
  namespace: staging
  labels:
    app: planning-poker-frontend
    env: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: planning-poker-frontend
      env: staging
  template:
    metadata:
      labels:
        app: planning-poker-frontend
        env: staging
    spec:
      containers:
      - name: planning-poker-frontend
        image:  bruno303/planning-poker-frontend:0.0.16-stg
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
